
body {
 font-family: Helvetica, sans-serif;
 margin: 0px;
 padding:0px;
}

/* header */

.header {
 background-color: #ffffffc0;
 text-align: center;
 font-size: 35px;
 display: flex;
 flex-direction : row;
 flex-wrap: nowrap;
 justify-content : flex-start;
 align-items : flex-end;
 width: auto;
 height: 72px;
}

.logo {
   width: 24px;
   height: 24px;
   margin-top: 40px;
   margin-left: 60px;
}

.header_nav{
   list-style-type : none;
   margin-left: 43px;
   margin-top: 39px;
}

li {
 padding-left: 17px;
 padding-right:   7px;
 display: inline-flex;
 flex-direction : row;
 justify-content: flex-end;
 flex-wrap: nowrap;
}

li a{
   text-align: center;
   font-size: 16px;
   color : black;
   text-decoration: none;
}

li a:hover {
 text-decoration: underline black;
}

.header_right{
    left: 919px;
    width: 157px;
    height: 70px;
    margin-right: 60px;
    position:absolute;
 }

.alarm_img{
   margin-top: 43px;
   margin-right: 37px;
   margin-left:  6px;
   margin-bottom: 6px;
   width: 18px;
   height: 18px;
   object-fit: cover;
}

.profile_img{
   width: 36px;
   height: 36px;
   object-fit: cover;
   margin-top: 37px;
   margin-right: 31px;
   clip-path: circle(50%);
}


/* content */

.content{
   background-color: white;
   height: 2427px;
   width: 1076px;
}

.inner_feature{
   margin-top: 50px;
   background-color: white;
   display: flex;
   flex-direction : column;
   margin-left: 151.5px;
   margin-right: 151.5px;
   padding-top: 37px;
}

.inner__title{
   font-size: 13px;
   line-height: 1.5px;
}

.inner__description{
font-size: 24px;
line-height: 1px;
letter-spacing: -0.6px;
font-family: "Nanum Gothic", sans-serif;
font-weight:300;
}

.article{
   text-align: center;
}

.section_tab{
   margin-left: 151.5px;
   margin-top: 50px;
   display: flex;
   flex-direction : row;
   flex-wrap: nowrap;
    justify-content : flex-start;
   background-color: white;
   height: 40px;
   width: 896px;
}

.tab_menu{
 width: 96px;
 font-size: 36px;
 color : black;
 text-decoration-line: none;
 line-height: 1;
 font-weight: 300;
 letter-spacing: -1.2px;  
 font-family: "Nanum Gothic", sans-serif;
 padding-right: 48px;
 background-color: white;
 border-bottom: 1px solid #ddd;
}

.tab_menu:hover{
   text-decoration: underline black;
}

.section_best{
    display: flex;
    width: 1199px;
    background-color: #f5f5f5;
    padding-top: 40px;
    padding-bottom: 40px;
 }

 
/* card component*/

.card_list{
   display: flex;
   flex-direction : row;
   justify-content: center;
   margin-left: 151.5px;
   background-color: #f5f5f5;
}

.card{
   background-color: rgb(255, 255, 255);
   margin-right: 15px;
}

.card:hover{
   box-shadow: 5px 5px 5px 5px lightgrey;
}

.card__title{
    padding-top: 6px;
    padding-left: 22px;
}

.card__top{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   background-color: rgb(255, 255, 255);
   justify-content : flex-start;
   padding-top: 22px;
   padding-left: 24px;
  
}

.card__bottom{
    display: flex;
    flex-direction: column;
    align-items : flex-start;
    padding-left: 24px;
    padding-top: 30px;
    padding-bottom: 23px;
 }

/*list component*/

 .section_list{
    display: flex;
    flex-direction : column;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 20px;
    
 }
 
 .list_item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(255, 255, 255);
    width: 896px;
    height: 192px;
    padding-top: 40px;   
    padding-left: 130px; 
 }
 
 hr{
color: rgb(241, 239, 239);
width: 896px;
border: 0.2px solid;
 }

 .list_item_left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 159px;
 }
 
 .list_item_content{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    
 }
 
 .list_item_bottom{
    padding-top : 20px;
    display: flex;
    flex-direction: row;
    padding-left: 2px;
    width: 552px;
    height: 30px;
 }

 .list_item_title{
     padding-bottom: 6px;
 }

 /*post text component*/ 

.post_category{
    font-weight: 300;
    font-size: 13px;
    padding-right: 6px;
}

.post_time{
    font-weight: 300;
    font-size: 13px;
}

.post_like{
    font-weight: 300;
    font-size: 13px;
}
.post_src{
    font-weight: 300;
    font-size: 13px;
    padding-right: 6px;
}
.post_writer{
    font-weight: 300;
    font-size: 13px;
}
.post_title{
   /* position:absolute; */
   display: -webkit-box;
   max-width: 211px;
   max-height: 60px;
   -webkit-box-orient: vertical;
  
   overflow: visible;
   font-size: 22px;
   line-height: 30px;
   font-weight: 400;
   text-overflow: ellipsis;
   white-space: nowrap;
   text-align:left;
   color: rgb(44, 44, 44);
}

.post_description{
    font-weight: 400;
    color:#777;
    font-size: 14px;
    text-align: start;
    line-height: 22px;
 }

.post_list_img{
    width: 128px;
    height: 128px;
 }

 .post_card_img{
    width: 288px;
    height: 168px;
 }